apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ceph-rbd
provisioner: ceph.com/rbd
parameters:
  monitors: {{ ceph_monitors }}
  adminId: admin
  adminSecretName: ceph-secret-user
  adminSecretNamespace: default
  pool: sata_pool1
  userId: kube
  userSecretName: ceph-secret-user
  userSecretNamespace: default
  fsType: ext4
  imageFormat: "2"
  imageFeatures: "layering"
