apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: etcd-rbd-pvc
  namespace: {{project_namespace}}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{k8s_sc_name_rbd}}
  resources:
    requests:
      storage: {{etcd_storage_size}}Gi

